{% extends "layout.html" %}
{% import "pagination.html" as macros %}

{% block content %}
<div class="container">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>User</th>
            </tr>
        </thead>
        {% for follow in follows %}
        {% if follow.user != user %}
        <tr>
            <td>
                <a href="{{ url_for('.user', username = follow.user.username) }}">
                    {{ follow.user.username }}
                </a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    {% if pagination %}
    <nav aria-label="Page navigation">
        {{ macros.pagination_widget(pagination, 'main.post_all') }}
    </nav>
    {% endif %}

</div>
{% endblock %}