{% extends "layout.html" %}


{% block content %}
<div class="container">
    {% for message in get_flashed_messages(category_filter=["success"]) %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    {% for message in get_flashed_messages(category_filter=["warning"]) %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">逢甲 - 軟體工程</h1>
            <p class="lead my-3">軟體工程 demo 網站</p>
            {% if current_user.is_authenticated %}
            {% else %}
            <p class="lead mb-0"><a href="{{ url_for('auth.regist') }}" class="text-white font-weight-bold">立即註冊</a></p>
            {% endif %}
        </div>
    </div>
    {% if current_user.is_authenticated %}
    <form class="form" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form-label-group">
            {{ form.body(class="form-control", id="formControlTextarea", rows="3") }}
        </div>
        {% for error in form.body.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ error }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        <div class="custom-file">
            {{ form.photo() }}
            {{ form.photo.label(class="custom-file-label", for="customFile") }}
            <input type="file" class="custom-file-input" id="customFile">
        </div>
        {% for error in form.photo.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ error }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {{ form.submit() }}
    </form>
    {% endif %}
</div>

{% endblock %}