{% extends "layout.html" %}

{% import "pagination.html" as macros %}

{% block content %}

<div class="container">

    {% for post in posts %}
    <div class="card">
        <div class="card-header">
            <a href="{{ url_for('main.post', id=post.id) }}">{{ post.author.username }}</a>
        </div>
        <div class="card-body">
            {{ post.body }}
            {% if current_user == post.author %}
            <a href="{{ url_for('.edit', id=post.id) }}" class="btn btn-primary">編輯</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    {% if current_user.can(Permission.COMMENT) %}
    <form class="form" method="POST">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 font-weight-normal">評論</h1>

        {% for message in get_flashed_messages(category_filter=["success"]) %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        <div class="form-label-group">
            {{ form.body() }}
        </div>

        {{ form.submit() }}
    </form>
    {% endif %}

    {% for comment in comments %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ url_for('.user', username=comment.author.username) }}">{{comment.author.username }}</a>
            </h5>
            <p class="card-text">
                {{ comment.body }}
            </p>
        </div>
    </div>
    {% endfor %}

    {% if pagination %}
    <nav aria-label="Page navigation">
        {{ macros.pagination_widget(pagination, 'main.post', fragment='#comments', id=posts[0].id) }}
    </nav>
    {% endif %}

</div>
{% endblock %}