{% extends "layout.html" %}

{% import "pagination.html" as macros %}

{% block content %}

<div class="container">

    {% for post in posts %}
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
        {% if post.photo %}
        <img class="card-img-left flex-auto d-none d-lg-block" height="200x" src="{{ url_for('static', filename='photos/'+post.photo)  }}" alt="Card image cap">
        {% else %}
        <img class="card-img-left flex-auto d-none d-lg-block" src="{{ post.author.gravatar(size=200) }}" alt="Card image cap">
        {% endif %}
        <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">
                <a href="{{ url_for('main.post', id=post.id) }}">{{ post.author.username }}</a>
            </strong>
            <p class="card-text mb-auto">{{ post.body }}</p>
            {% if current_user == post.author %}
            <a href="{{ url_for('.edit', id=post.id) }}">編輯</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    {% if current_user.can(Permission.COMMENT) %}
    <form class="form" method="POST">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 font-weight-normal">評論</h1>

        {% for message in get_flashed_messages(category_filter=["success"]) %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        <div class="form-label-group">
            {{ form.body() }}
        </div>

        {{ form.submit() }}
    </form>
    {% endif %}

    {% for comment in comments %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ url_for('main.user', username=comment.author.username) }}">{{comment.author.username }}</a>
            </h5>
            <p class="card-text">
                {{ comment.body }}
            </p>
        </div>
        {% if current_user == comment.author %}
        <a class="btn btn-outline-danger btn-block" href="{{ url_for('main.del_com', id=comment.id) }}">刪除</a>
        {% endif %}
    </div>
    {% endfor %}

    {% if pagination %}
    <nav aria-label="Page navigation">
        {{ macros.pagination_widget(pagination, 'main.post', fragment='#comments', id=posts[0].id) }}
    </nav>
    {% endif %}

</div>
{% endblock %}