{% extends "layout.html" %}

{% block content %}

<div class="container">
    {% for message in get_flashed_messages(category_filter=["success"]) %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% for message in get_flashed_messages(category_filter=["warning"]) %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    <div class="jumbotron d-flex flex-column">
        <h1 class="display-4">{{ user.username }}</h1>

        {% if current_user.can(Permission.FOLLOW) and user != current_user %}
            {% if not current_user.is_following(user) %}
            <a class="btn btn-outline-dark" href="{{ url_for('main.follow', username=user.username) }}" role="button">Follow</a>
            {% else %}
            <a class="btn btn-outline-dark" href="{{ url_for('main.unfollow', username=user.username) }}" role="button">取消Follow</a>
            {% endif %}
        {% endif %}

        {% if user.name %}
        <p class="lead">Real Name: {{ user.name }}</p>
        {% endif %}

        {% if user.email %}
        <p class="lead">E-mail: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}

        {% if user.about %}
        <p class="lead">About Me: {{ user.about }}</p>
        {% endif %}

        {% if user.location %}

        <div>
            <hr class="my-4">
        </div>

        <p>Location: <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a></p>
        {% endif %}

        <div class="d-inline-flex justify-content-end">
            <div class="btn-group-vertical">
                {% if user == current_user %}
                <a class="btn btn-outline-dark" href="{{ url_for('main.edit_profile') }}" role="button">編輯個人資料</a>
                {% endif %}
                {% if current_user.is_administrator() %}
                <a class="btn btn-outline-dark" href="{{ url_for('main.edit_profile_admin', id=user.id) }}" role="button">管理員
                    - 編輯資料</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}