{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}

{% block content %}
<form class="form-change_password" method="POST">
    {{ form.hidden_tag() }}
    <div class="text-center mb-4">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">更改密碼</h1>
    </div>

    {% for message in get_flashed_messages(category_filter=["error"]) %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <div class="form-label-group">
        {{ form.old_password() }}
        {{ form.old_password.label }}
    </div>
    {% for error in form.old_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    <div class="form-label-group">
        {{ form.password() }}
        {{ form.password.label }}
    </div>
    {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    <div class="form-label-group">
        {{ form.ConfirmPassword() }}
        {{ form.ConfirmPassword.label }}
    </div>
    {% for error in form.ConfirmPassword.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    {{ form.submit() }}
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
</form>
{% endblock %}