{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}

{% block content %}

<form class="form-login" method="POST">
    {{ form.hidden_tag() }}

    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    </div>

    {% for message in get_flashed_messages(category_filter=["success"]) %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    {% for message in get_flashed_messages(category_filter=["error"]) %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <div class="form-label-group">
        {{ form.username() }}
        {{ form.username.label }}
    </div>
    {% for error in form.username.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    </div>

    <div class="form-label-group">
        {{ form.password() }}
        {{ form.password.label }}
    </div>
    {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    <div class="mb-3 d-flex justify-content-between">
        <div class="checkbox">
            {{ form.rememberme() }}
            {{ form.rememberme.label }}
        </div>
        <a href="{{ url_for('auth.regist') }}">點我註冊</a>
    </div>
    {{ form.login() }}
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
</form>
{% endblock %}